body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvases-container {
    width: 100%;
    display: flex;
}
.canvas-container {
    width: 50%;
}
canvas {
    max-width: 50vw;
}

h1[compact],
/* h2[compact], */
h3[compact] {
    margin-block-start: 0;
    margin-block-end: 0;
}